.Button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
}

.Success {
  color: green;
}

.Danger {
  color: red;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
